header {font-size: larger;}

aside {
background-color: bisque;
display: flex;
max-width: 400px;
height: 865px;
}

.body-color {background-color: rgb(95, 94, 94);}
.Section-Aside {margin: 20px;}

.main-div {display: flex;}

article { 
justify-content: center;
margin: 0 auto;
max-height: 100px;
}

.carousel {width: 960px; height: 850px;}

.section-pages {margin: 20px; flex-flow: column;}